@import "../index.scss";

.projectsSection {
  user-select: none;
  width: 80%;
  margin: 100px auto;
  border-radius: 3rem 1rem;
  background-color: $secondaryColor;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding-bottom: 32px;
}

.projectsSection h1 {
  padding: 2rem 2rem 0;
  font-size: 2rem;
  text-wrap: pretty;
}

.projectsSection p {
  padding: 0 2rem;
  font-weight: 300;
  margin: -16px 0 64px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.principalProject {
  padding: 0 32px;
  display: grid;
  grid-template-areas:
    "title title title"
    "links links links"
    "img img img";
  row-gap: 16px;
}

.principalProject h3 {
  margin: 0;
  grid-area: title;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.linksContainer {
  margin: 0 auto;
  display: flex;
  gap: 32px;
  grid-area: links;
  font-size: 2rem;
  color: $unactiveLink;
}

.linksContainer a {
  color: $unactiveLink;
}

.linksContainer svg {
  cursor: pointer;
  transition: 200ms;
}

.linksContainer svg:hover {
  transform: scale(1.1);
  color: $bordersColor;
}

.projectImgContainer {
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  filter: brightness(80%);
  grid-area: img;
}

.projectImgContainer img {
  width: 100%;
  max-width: 800px;
  width: 100%;
  border-radius: 32px;
  transition: 500ms;
}

.projectImgContainer:hover img {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .projectsSection {
    width: 90%;
    margin-top: 125px;
  }

  .projectsSection h1 {
    font-size: 3rem;
    padding: 2rem 4rem 0;
  }

  .projectsSection p {
    padding: 0 4rem 0;
  }

  .principalProject {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "title img"
      "links img";
    padding: 0 64px;
  }

  .principalProject h3 {
    align-self: flex-end;
  }
}

@media (min-width: 1100px) {
  .projectsContainer {
    display: flex;
    flex-direction: row;
  }

  .projectsSection p {
    margin-bottom: 34px;
  }

  .principalProject {
    padding: 0 32px;
    display: grid;
    grid-template-areas:
      "title title title"
      "links links links"
      "img img img";
  }
}
