@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #F0F0F0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.animatedBackground {
  position: fixed;
  width: 100%;
  z-index: -2;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 12px;
  background-color: #885b14;
}

::-webkit-scrollbar-thumb {
  background-color: #312107;
  border-radius: 100vmax;
}

::-moz-scrollbar {
  width: 12px;
  color: #885b14;
}